.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 40px;
  height: 80px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  font-size: 400;
}
.header .logo {
  width: 240px;
  height: 38px;
}
.header .header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 500px;
}
.header .header-menu .header-menu-item {
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  color: #333;
  padding: 0 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 40px;
  flex: 1;
  margin: 0 5px;
}

.header .header-menu .header-menu-item:hover {
  background: #f3f3f3;
  font-weight: 400;
}
.header .header-menu .header-menu-item.active {
  background: #f3f3f3;
  font-weight: 400;
}