@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1717573156951') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e621";
}

.icon-zhanghao:before {
  content: "\e630";
}

.icon-pencil:before {
  content: "\e69a";
}

.icon-ico-qingkong:before {
  content: "\e6a0";
}

